.card {
  background: @color-dark;
  border: 1px inset @color-black;
  border-radius: rh(2);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  font-size: @font-size-small;
  height: @card-height;
  transition: box-shadow 0.5s;
  width: @card-width;
  will-change: transform;

  .m-locked & {
    filter: grayscale(60%);
  }

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.55);
    cursor: pointer;
  }

  &-container {
    list-style: none;
  }

  &-divider {
    background: linear-gradient(45deg, #a02c23, @red);
    bottom: rh(12);
    height: 4px;
    position: absolute;
    width: 100%;
  }

  &-frame {
    border: 2px inset @red;
    border-radius: rh(2);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .frame {
      &-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        &_name {
          display: block;
          max-width: 75px;
          text-align: center;
        }

        &_cost {
          background: linear-gradient(45deg, rgba(242, 215, 12, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(252, 235, 0, 1) 96%);
          border: 1px solid @orange;
          border-radius: 50%;
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
          content: '';
          display: inline-block;
          height: rh(5);
          position: absolute;
          right: 0;
          top: 0;
          width: rh(5);
          z-index: 5;

          .m {
            left: 5px;
            position: absolute;
            z-index: 7;

            &-1, &-0 {
              color: @H300;
            }

            &-2 {
              color: @H300;
            }

            &-3 {
              color: @H400;
            }

            &-4 {
              color: @H500;
            }

            &-5 {
              color: @H600;
            }

            &-6 {
              color: @H700;
            }

            &-7 {
              color: @H800;
            }

            &-8 {
              color: @H900;
            }
          }

          &::after {
            background: linear-gradient(45deg, rgba(242, 215, 12, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(252, 235, 0, 1) 96%);
            border-bottom: 1px solid rgba(242, 215, 12, 0.3);
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-right: 1px solid rgba(242, 215, 12, 0.3);
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 0 2px 2px rgba(150, 150, 150, 0.05);
            content: '';
            display: block;
            height: rh(4);
            left: rh(0.5);
            position: absolute;
            top: rh(0.5);
            width: rh(4);
            z-index: 6;
          }
        }

        &_icon {
          left: rh(1);
          position: absolute;
          top: rh(1);
        }
      }

      &-image {
        bottom: rh(2);
        height: rh(16);
        position: absolute;
        right: rh(1);
      }

      &-effects {
        bottom: rh(10);
        height: rh(10);
        position: absolute;

        &.m-instant {}

        &.m-victory {
          bottom: 0;
          height: rh(12);
          padding-top: rh(2);
        }

        .effect {
          display: inline-block;
          padding: rh(0.5);

          &-gold {
            color: @orange;
          }

          &-health {
            color: @green;
          }

          &-damage {
            color: @red;
          }
        }
      }
    }
  }
}
