%shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

%shadow-6 {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
}

%shadow-5 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 0 2px 10px 0 rgba(0,0,0,.1) !important;
}

%shadow-4 {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
}

%shadow-3 {
  box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2) !important;
}

%shadow-2 {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

%shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.3), 0 4px 8px 3px rgba(60,64,67,0.15) !important;
}

%eNimed {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;

  &.infinite {
    animation-iteration-count: infinite !important;
    animation-duration       : 2s;
  }
}

%waves {
  position : relative;
  overflow : hidden;
  transform: translate3d(0, 0, 0);
}

%waves:after {
  content            : "";
  display            : block;
  position           : absolute;
  width              : 100%;
  height             : 100%;
  top                : 0;
  left               : 0;
  pointer-events     : none;
  background-image   : radial-gradient(circle, white 10%, transparent 0.01%);
  background-repeat  : no-repeat;
  background-position: 50%;
  transform          : scale(10, 10);
  opacity            : 0;
  transition         : transform 0.5s, opacity 1s;
}

%waves:active:after {
  transform : scale(0, 0);
  opacity   : 0.3;
  transition: 0s;
}

%waves-dark {
  @extend %waves;
}

%waves-dark:after {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%);
}

%waves-dark:active:after {
  opacity: 0.1;
}

%bg {
  background-size      : cover;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  height               : 100%;
}

%centered {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  vertical-align : middle;
}
