
// Breakpoint viewport sizes and media queries.
$breakpoint-tablet                       : 768px;
$breakpoint-desktop                      : 1024px;
$breakpoint-desktop-plus                 : 1366px;


// Colors
$default                                 : #f7f8f9 !default;
$success                                 : #4fd69c !default;
$warning                                 : #ffdd57 !default;
$primary                                 : #1da1f2 !default;
$danger                                  : #f75676 !default;
$purple                                  : #5e72e4 !default;
$sky                                     : #54c7ec !default;
$gray                                    : #6c757d !default;
$dark                                    : #343a40 !default;
$white                                   : #ffffff !default;
$black                                   : #000000 !default;
$e-font-color                            : rgba(0, 0, 0, 0.6) !default;

// Colors gradient
$purple-gradient                         : linear-gradient(40deg, #ff6ec4, $purple);
$blue-gradient                           : linear-gradient(40deg, #45cafc, #303f9f);
$green-gradient                          : linear-gradient(40deg, #00c9ff, #92fe9d);
$inst-gradient                           : radial-gradient(
  circle at 30% 107%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);

// Do not remove from this place
$colors: (
  "success"                              : $success,
  "danger"                               : $danger,
  "primary"                              : $primary,
  "purple"                               : $purple,
  "sky"                                  : $sky,
  "gray"                                 : $gray,
  "black"                                : $black,
  "dark"                                 : $dark
);

$colors-gradient: (
  "purple-gradient"                      : $purple-gradient,
  "green-gradient"                       : $green-gradient,
  "blue-gradient"                        : $blue-gradient,
  "inst-gradient"                        : $inst-gradient
);

@import "colors";


// Enable animations
$dropdown-enable-animation               : true !default;
$navegation-enable-animation             : true !default;
// Cap Modal / Sidenav
$cap-enable-animation                    : true !default;


// Body and default styles
$font-family                             : "Nunito", sans-serif !default;
$body-bg                                 : #27221C !default;
$body-color                              : lighten(#4e3004, 7%) !default;
$body-font-size                          : 0.9375rem !default;
$line-height                             : 1.5 !default;
$font-weight                             : 600 !default;
$border-radius                           : 0.25rem !default;
$component-font-size                     : 1rem !default;
$background-default                      : $default;
$font-color                              : $e-font-color;
$transition                              : box-shadow 0.18s ease-out, background 0.18s ease-out, color 0.18s ease-out;
