.deck {
  align-items: center;
  display: flex;
  height: @card-height;
  justify-content: center;
  position: absolute;
  width: @card-width;
  will-change: transform;

  > div {
    position: absolute;
  }

  &-size {
    z-index: 10;
  }
}
