.startscreen {
  display: flex;

  &-flexbox {
    width: 100%;
  }

  &-loading {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__image {
      height: 105px;
      width: 105px;
    }
  }
}

@media (max-width: @screen-lg-desktop) {
  .startscreen {
    &-flexbox {
      // Lobby mobile view
      .rs-flex-box-grid-item-12 {
        width: 85%;
      }
    }
  }
}
