// Base variables
@base-color: #a1725c;
@font-family-base: 'Changa-Bold', 'Avenir Next', 'Helvetica Neue', sans-serif;
@font-size-base: 14px;

//** Gray levels. (Isnt really supposed to be gray in our theme, so we set it to our color schema)
@B000: #f3d5a9;
@B050: darken(@B000, 5%);
@B100: darken(@B000, 10%);
@B200: darken(@B000, 20%);
@B300: darken(@B000, 30%);
@B400: darken(@B000, 40%);
@B500: darken(@B000, 50%);
@B600: darken(@B000, 60%);
@B700: darken(@B000, 70%);
@B800: darken(@B000, 80%);
@B900: darken(@B000, 90%);

// Configs
@button-ripple: false; // turning off button ripples, because they fits bad with background images(cannot solve sizing)

@success-color: #8ba121;
