@import '../utils/mixins.less';

@lineheight: 2em;

.gameheader {
  margin: 1em 0;

  .playerstats {
    > div {
      background: #21180e;
      border-radius: 1em;
      display: inline-block;
      font-size: 1.4em;
      line-height: @lineheight;
      margin: 1em 2em 0 1em;
      padding-left: @lineheight;
      text-align: center;
      width: 8em;
    }

    .timer::before,
    &-units::before,
    &-level::before,
    &-gold::before,
    &-health::before {
      background-size: @lineheight;
      content: '';
      height: @lineheight;
      margin-left: -@lineheight*2;
      position: absolute;
      width: @lineheight;
    }

    .timer::before {
      .background-icon(url('../res/misc/sandglass.png'));
    }

    &-health::before {
      .background-icon(url('../res/misc/status_icon_soul_gem.png'));
    }

    &-gold::before {
      .background-icon(url('../res/misc/status_icon_coin.png'));
    }

    &-units::before {
      .background-icon(url('../res/icons/icon_sword_A.png'));
    }

    &-level::before {
      .background-icon(url('../res/icons/icon_laurel.png'));
    }
  }
}
