.player {
  display: flex;
  justify-content: flex-start;
  min-height: @card-height;
  padding: rh(2) rh(4);
  width: 100%;

  &.m-opponent {}

  &-deck,
  &-discard {
    min-width: @card-width;
  }

  &-deck {
    margin-left: rh(10);
  }

  &-hand {
    display: flex;
    padding-left: rh(6);
    width: 100%;

    .card {
      position: absolute;
    }
  }

  &-discard {

  }

  @import url('./player/healthbar.less');
}

@import url('./player/gold.less');
