.activegame {
  &-header {
    display: flex;
    flex-direction: column;
    min-height: 4em;

    .timer {
      align-self: center;
      background: #21180e;
      border-radius: 1em;
      display: grid;
      min-height: 3em;
      text-align: center;
      width: 10em;

      &-value {
        font-size: 17px;
        text-shadow: black 3px 3px;
        line-height: 2.4;
      }

      &-active {
        background: url('../res/misc/sandglass.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .player-resources {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      min-height: 3em;
      text-align: center;
      width: 45em;
      margin: 15px 15px 15px 260px;

      &-block {
        background: #21180e;
        border-radius: 1em;
        margin-right:  20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &-hp-img {
        height: 42px;
        background: url('../res/misc/status_icon_soul_gem.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-coin-img {
        height: 42px;
        background: url('../res/misc/status_icon_coin.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-mana-img {
        height: 42px;
        background: url('../res/misc/status_icon_gem.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-number {
        line-height: 2.4;
        font-size: 17px;
      }
    }
  }
}

@import './gameboard.less';
@import './rightsidebar.less';
